// fuentes
$poppins: "Poppins", sans-serif;
$roboto: "Roboto", sans-serif;
$lora: "Lora", serif;

// mediaquerys
$phone: 450px;
$tablet: 768px;
$desktop: 1040px;
$desktop: 1400px;

// colores
$black: #000000;
$white: #ffffff;
$cosmic-latte: #f7f3e3;
$blue-munsell: #62929e;
$paynes-gray: #4a6d7c;
$old-rose: #c78283;
