.admin-page {
    h2 {
        font-size: 2.8rem;
        margin-left: 2rem;
        margin-bottom: 1rem;
    }
    .buttons {
        display: flex;
        justify-content: space-between;
    }
    .create-product {
        margin: 2rem;
        font-size: 1.8rem;
        background-color: #007bff;
        color: white;
        padding: 1rem;
        border-radius: 10px;
        cursor: pointer;
    }
    .logout-button {
        cursor: pointer;
        margin: 2rem;
        font-size: 1.8rem;
        background-color: #dc0700;
        color: white;
        padding: 1rem;
        border-radius: 10px;
    }
}
