.products-table {
    width: 100%;
    thead {
        text-transform: uppercase;
        tr {
            th {
                padding: 2rem 1rem;
            }
        }
    }
    tbody {
        tr {
            td {
                padding: 1rem;
                .link {
                    color: white;
                    background-color: rgb(48, 233, 94);
                    padding: 1rem;
                    border-radius: 5px;
                }
            }
        }
    }
}
