@use "../base/variables" as v;

#catalogo-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2 {
        text-align: center;
        font-size: 3rem;
        margin: 2rem;
        font-weight: bold;
    }
    h5 {
        font-size: 1.6rem;
    }
    .categories {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        margin-bottom: 3rem;
        li {
            text-align: center;
            font-size: 1.4rem;
            text-decoration: underline;
        }
    }
    @media (min-width: v.$tablet) {
        h2 {
            font-size: 4rem;
        }
        h5 {
            font-size: 2rem;
            margin-bottom: 1rem;
        }
        .categories {
            flex-direction: row;
            li {
                font-size: 1.8rem;
            }
        }
    }
}

#catalogo-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    place-items: center;
    margin: 1rem;
    @media (min-width: v.$phone) {
        grid-template-columns: 1fr 1fr;
    }
    @media (min-width: v.$tablet) {
        grid-template-columns: 1fr 1fr 1fr;
    }
    @media (min-width: v.$desktop) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
